<a href="https://colab.research.google.com/github/shaneod24/Practice/blob/master/finalgroupassignmentFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Amazon Online Shopping Data Study

#Introduction(Final)

We chose Amazon to do this project because, in our opinion, it had the highest amount of application to the course. Through some research, we found that Amazon uses sql in a lot of its products (online store, fulfillment, etc.). The most relatable platform for the class that they offer is their online store, so we decided to make an sql database and accompanying ER diagram that we think would fit this platform and help anyone who views our project to better visualize Amazon’s backend. We went through many processes with the ER diagram. We mapped it out with our attributes, entities, connectivity, cardinality, and specific keys. In a subsequent version we converted it into first normal form, and from there it has been accurate within the context of the group assignments.

#ER Diagram (Final)

Draw IO Entity Relationship Diagram 

- save your ER Diagram in Draw.io as PNG and upload it to GitHub

  - then add an image to your notebook

![Our diagram](https://raw.githubusercontent.com/shaneod24/Practice/master/Images/this.png)

#Discuss any specifics in regards to your ER Diagram(Final)

1. Order

--The specific data that is needed for the fulfillment and payment process is contained in the order entity. This includes orderid, customer, item, shipping method, and payment method. 

2. Customer

-- This holds the neccessary data to identify the customer in the buying process and set address parameters. This entity includes the attributes customerid, first name, last name, street address, city, and zip code

3. Payment Method

-- This holds data that is needed to process the payment in the buying process. This includes the attributes paymentmethodid, name, company, and authorization method

4. Item

-- This entity holds the data needed to identify and get characteristics of an item in an order. This entity has the attributes itemid, itemname, price, and tax.

5. Shipping Method

-- This holds the data needed for the shipping process of Amazon orders. This has the attributes shipperid,name, service, and shipping estimate.

#Discuss if your ER Diagram would be valid in 2nd Normal Form(Final)

The ER diagram is in second normal form because there are no partial dependencies. In all of the tables other than the order table, all of the attributes depend on the primary key. For the order table, there is not a composite primary key and all of the attributes are foreign keys which are not partially dependent.

#Discuss if your ER Diagram would be valid in 3rd Normal Form(Final)

For third normal form, the ER diagram does satisfy the first part of third normal form because it is in second normal form. However, the ER diagram violates third normal form because there is a transitive dependency. There may be many, but if the diagram has one, it violates third normal form. When looking at the payment method table, the attributes name, company, and authorizationmethod are transitively dependent. If the name changes, the company and authorizationmethod change. Therefore, this violates third normal form (I realize “authorizationmethod” will result in a spelling error but is spelled this way to accurately represent the attribute name).

#Discuss if your ER Diagram would be valid in Boyce-Codd Normal Form(Final)

For Boyce-Codd normal form, the ER diagram violates this form of normalization. Boyce-Codd is a normal form that is more “extreme” than third normal form. This means that in order for the ER diagram to be in Boyce-Codd normal form, it must first be in third normal form. As discussed in the previous section, the ER diagram violates third normal form due to a transitive dependency. For this reason, the ER diagram automatically violates Boyce-Codd normal form without having to do any subsequent analysis on the other requirements of Boyce-Codd normal form.

#Discuss how you created your database, tables, and inserted data(Final)

The database was created using the SQL side of Google collab. The first two lines of code loaded SQL and created the database. Then we used the CREATE TABLE command with the respective parameters with data types and key declaration to create all of the tables with their entities. We then used a series of INSERT INTO statements to add the data to each of the tables. We then used the select * command to display the tables to make sure that they were created and formatted correctly.

#Provide all code to create and populate your database(Final)

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///amazonDatabase.db

'Connected: @amazonDatabase.db'

In [ ]:
%%sql
CREATE TABLE Orders(orderId real primary key, customer real, item real, shippingMethod real, paymentMethod real);

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql
drop table Orders

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql 
INSERT INTO Orders VALUES(1,1,1,1,1);

 * sqlite:///amazonDatabase.db
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO Orders VALUES(2,2,2,2,2);
INSERT INTO Orders VALUES(3,3,3,3,3);
INSERT INTO Orders VALUES(4,4,4,4,4);
INSERT INTO Orders VALUES(5,5,5,5,5);

 * sqlite:///amazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from Orders

 * sqlite:///amazonDatabase.db
Done.

[(1.0, 1.0, 1.0, 1.0, 1.0),
 (2.0, 2.0, 2.0, 2.0, 2.0),
 (3.0, 3.0, 3.0, 3.0, 3.0),
 (4.0, 4.0, 4.0, 4.0, 4.0),
 (5.0, 5.0, 5.0, 5.0, 5.0)]

In [ ]:
%%sql
CREATE TABLE Item(itemId real primary key, itemName text, price real, tax real);

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql
INSERT INTO Item VALUES(2,'box1',2,5);
INSERT INTO Item VALUES(3,'box2',3,10);
INSERT INTO Item VALUES(4,'box3',4,15);
INSERT INTO item VALUES(5,'box4',5,20);

 * sqlite:///amazonDatabase.db

IntegrityError: ignored

##Ignore error above

In [ ]:
%%sql
INSERT INTO item VALUES(6,'box5',5,25);

 * sqlite:///amazonDatabase.db
1 rows affected.

[]

In [ ]:
%%sql
select * from Item

 * sqlite:///amazonDatabase.db
Done.

[(2.0, 'box1', 2.0, 5.0),
 (3.0, 'box2', 3.0, 10.0),
 (4.0, 'box3', 4.0, 15.0),
 (5.0, 'box4', 5.0, 20.0),
 (6.0, 'box5', 5.0, 25.0)]

In [ ]:
%%sql
CREATE TABLE ShippingMethod(shipperId real primary key, name text, service text, shippingEstimate real);

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql
INSERT INTO ShippingMethod VALUES(1,'shipper1','ups',5);
INSERT INTO ShippingMethod VALUES(2,'shipper2','fedex',4);
INSERT INTO ShippingMethod VALUES(3,'shipper3','usps',3);
INSERT INTO ShippingMethod VALUES(4,'shipper4','dhl',2);
INSERT INTO ShippingMethod VALUES(5,'shipper5','epacket',1);

 * sqlite:///amazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from ShippingMethod

 * sqlite:///amazonDatabase.db
Done.

[(1.0, 'shipper1', 'ups', 5.0),
 (2.0, 'shipper2', 'fedex', 4.0),
 (3.0, 'shipper3', 'usps', 3.0),
 (4.0, 'shipper4', 'dhl', 2.0),
 (5.0, 'shipper5', 'epacket', 1.0)]

In [ ]:
%%sql
CREATE TABLE Customer(customerId real primary key, firstName text, lastName text, streetAddress text, zipCode real, city text);

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql
INSERT INTO Customer VALUES(1,'shane','od','simmons ave',12345,'chalfont');
INSERT INTO Customer VALUES(2,'shane','ob','simmons dr',12346,'montgo');
INSERT INTO Customer VALUES(3,'shane','oc','simmons rd',12347,'bucks');
INSERT INTO Customer VALUES(4,'shane','oe','simmons way',12348,'nittany');
INSERT INTO Customer VALUES(5,'shane','of','simmons circle',12349,'state college');

 * sqlite:///amazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
select * from Customer

 * sqlite:///amazonDatabase.db
Done.

[(1.0, 'shane', 'od', 'simmons ave', 12345.0, 'chalfont'),
 (2.0, 'shane', 'ob', 'simmons dr', 12346.0, 'montgo'),
 (3.0, 'shane', 'oc', 'simmons rd', 12347.0, 'bucks'),
 (4.0, 'shane', 'oe', 'simmons way', 12348.0, 'nittany'),
 (5.0, 'shane', 'of', 'simmons circle', 12349.0, 'state college')]

In [ ]:
%%sql
CREATE TABLE PaymentMethod(PaymentMethodId real primary key, name text, company text, authorizationMethod text);

 * sqlite:///amazonDatabase.db
Done.

[]

In [ ]:
%%sql
INSERT INTO PaymentMethod VALUES(1,'visa','visa','card');
INSERT INTO PaymentMethod VALUES(2,'master card','master card','card');
INSERT INTO PaymentMethod VALUES(3,'paypal','paypal','online');
INSERT INTO PaymentMethod VALUES(4,'venmo','paypal','online');
INSERT INTO PaymentMethod VALUES(5,'moneygram','money gram','online');

 * sqlite:///amazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql

select * from PaymentMethod

 * sqlite:///amazonDatabase.db
Done.

[(1.0, 'visa', 'visa', 'card'),
 (2.0, 'master card', 'master card', 'card'),
 (3.0, 'paypal', 'paypal', 'online'),
 (4.0, 'venmo', 'paypal', 'online'),
 (5.0, 'moneygram', 'money gram', 'online')]

#Create 3 queries that would help either you or the user from this scenario and explain why this would be helpful(Final)

##Create a scenario for an average user wanting to use your services, products, or activity

##Explanation
*Each explanation is between 50-150 words

There are many times when there are time constraints on when a customer needs an item by. Therefore, the question of what carrier will ship an item in less than four days is very applicable to the company I chose to create the database about. Since I made the database, I knew what carriers’ times less than four days had, so I was not surprised by the result.

Amazon is constantly updating their payment methods based on their relationships with payment providers. In the event that one provider does not fit their company, they may suspend the use of that method, or get rid of it completely. I was not surprised by the result, as I was the one who put the two methods in that are owned by PayPal.

The third question is the most complex in terms of the query that was used to find the solution. It involves two tables and finds the order that has a road with the word “simmons” in it. This would be used in the case that a delivery driver is on a road with simmons in it where they know there is a package to be dropped off. If they perform this function, they will get a list of orders to a road with simmons in it. This is similar to google suggestions in that the search terms that are displayed underneath already contain the words that you typed in the search box. The results did not surprise me, as I was the one who established the data in the database.

##Three Questions:
1. A customer needs an item in less than four days. What carriers offer shipping with an estimate of less than four days?

In [ ]:
%%sql 
select service from ShippingMethod where shippingEstimate < 4;

 * sqlite:///amazonDatabase.db
Done.

[('usps',), ('dhl',), ('epacket',)]

2.Amazon is not happy with Paypal as a company, for this reason they have decided to remove their payments for one year. What Paypal owned payments will they remove?

In [ ]:
%%sql
select name from PaymentMethod where company = 'paypal';

 * sqlite:///amazonDatabase.db
Done.

[('paypal',), ('venmo',)]

3.What orders have a customer that lives on a road tht contains the word "simmons" in it?

In [ ]:
%%sql
select j.orderID, i.streetAddress from Orders j, Customer i where j.customer=i.customerId AND i.streetAddress LIKE 'simmons%' ;

 * sqlite:///amazonDatabase.db
Done.

[(1.0, 'simmons ave'),
 (2.0, 'simmons dr'),
 (3.0, 'simmons rd'),
 (4.0, 'simmons way'),
 (5.0, 'simmons circle')]

#Information from last group assignment

##What is your idea?

-- To analyze how Amazon provides arguably the world's best ecommerce interface for shoppers. We want to look into how this form of online shopping appeals to so many people.
what makes it unique?

-- The company we are looking at has pioneered the eCommerce sector and has continued to be the leader in its field. It is also the top sales platform in the world.
is this a brand-new product or business, or are you borrowing from another business?

-- Amazon is a well-established Brand and business. Started as an online shopping company they have now extended way past their original market of online shopping, but we are keeping it withi the context of the online shopping platform.
describe a typical business interaction or a day at your business.

-- When someone places an order on the website it is sent in to the distributor of the product first. Once the product has been ordered, it will be shipped to an amazon package handling complex. The package will then be prepared to ship to the next closest amazon center or the closest package handler to the address. Then either an Amazon delivery truck will deliver the package or a trusted package company like UPS or FedEx will deliver the package.
provide a goal for your project

-- We want to look at how Amazon collects such vast amount of data from their users. With Amazon being such a large operation with so much data, we want to see how their collection and organization of this large amount of data make them the leader of eCommerce.
Description of project
##Description of project
--We decided to narrow our focus to the Amazon Online Shopping platform. We are specifically looking at the order process. For that reason, we separated this process into the following entities. Order has orderid as the primary key to identify the specific order in the database. It utilizes the foreign keys customer, item, shipping method, and payment method. All foreign keys are used to provide the information that is needed for the ordering process. The item entity holds all the information needed to identify an item in the order process. It has the primary key itemid and attributes itemname, price, and tax. It is connected to order as an order contains one to many (in this case 100) items. The customer entity holds the attributes necessary to identify the customer and their address. It has the primary key customerid with attributes firstname, lastname, streetaddress, city, and zipcode. It is connected to order as one customer can buy buy zero to many (1000) orders. The shipping method entity holds the data necessary for the fulfillment process. It contains the primary key shipperid and attributes name, service, and shipping estimate (in days). It is connected to orders by one to many orders can be fulfilled by one shipping method. The payment method entity contains all the information needed to process the payment of an order. It contains the primary key paymentmethodid and attributes name, company, and authorization method (card, online, transfer). It is connected to order as one to many orders are authorized by a specific one payment method. The table is normalized into first normal form by removing repeating groups, giving each table a primary key, and creating separate tables for each related set of data.